* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --bg-body: #e3e6f3;
  --bg-nav: #088178;
  --pl: 1rem;
  --pr: 1rem;
  --font--principale: "Satisfy", cursive;
}

header {
  background: #dee0e9;
}

.nav button {
  display: none;
}

.nav {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  padding-left: var(--pl);
  padding-right: var(--pr);
}
.menu ul {
  display: flex;
}

@media screen and (max-width: 600px) {
  .nav button {
    display: block;
  }

  ul {
    flex-direction: column;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);

    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-body);
    width: 90%;
    padding: 20px;
    z-index: 1000;
  }
  .menu:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: all 0.6s;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .menu ul li {
    margin: 10px 0;
  }
}

header .nav button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu ul li a {
  font-family: var(--font--principale);
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}
.menu ul li a:hover {
  transition: all 0.6s;
  color: var(--bg-nav);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

i {
  font-size: 24px;
  border: none;
}

i:hover {
  color: var(--bg-nav);
}

li {
  margin-left: 1.4rem;
}

/* 
    😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
    😄   Everything is going great! 😄
    😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
  */

.contain {
  background-image: url(./logo/hero4.png);
  width: 100%;
  /* margin-top: 0.01rem; */
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-principale {
  padding-left: var(--pl);
  padding-right: var(--pr);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text-principale h1 {
  font-size: 3rem;
  font-family: var(--font--principale);
}
.text-principale span {
  color: #088178;
}

.text-principale p {
  font-family: var(--font--principale);
  font-size: 1.5rem;
}

/* ====================================================== */
.cool_button {
  padding: 0.6rem 2rem;
  background: transparent;
  margin: 1rem 0;
  position: relative;
  border: 1px solid white;
  font-family: var(--font--principale);
  font-size: 1.4rem;
  cursor: pointer;
}
.cool_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: all 0.9s ease-in-out;
  background: #08817986;
  z-index: 100;
}

.cool_button:hover::before {
  width: 100%;
}

/* 
😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
😄   Everything is going great! 😄
😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
*/
.benefits {
  display: flex;
  padding-left: var(--pl);
  padding-right: var(--pr);
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.benefit {
  margin-top: 2rem;
  min-width: 15%;
  border: 2px rgba(0, 217, 255, 0.363) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.benefit button {
  cursor: pointer;
  background: var(--bg-nav);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border: none;
  color: var(--bg-nav);
  background: var(--bg-body);
}

.item2 button {
  background: rgba(231, 85, 219, 0.616);
}
.item3 button {
  background: rgba(52, 221, 18, 0.644);
}
.item4 button {
  background: rgba(0, 217, 255, 0.349);
}
.item5 button {
  background: rgba(197, 13, 173, 0.411);
}
.item6 button {
  background: rgba(255, 123, 0, 0.452);
}

@media screen and (max-width: 600px) {
  .benefit {
    min-width: 45%;
  }
}
/* 
😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
😄   Everything is going great! 😄
😄😄😄😄😄😄😄😄😄😄😄😄😄😄😄
*/