* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --bg-body: #e3e6f3;
  --bg-nav: #088178;
  --pl: 1rem;
  --pr: 1rem;
  --font--principale: "Satisfy", cursive;
}

header {
  background: #dee0e9;
}
/* ==================nav--menu============================ */
.nav button {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  padding-left: var(--pl);
  padding-right: var(--pr);
}
.menu ul {
  display: flex;
}

@media screen and (max-width: 600px) {
  .nav button {
    display: block;
  }

  ul {
    flex-direction: column;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);

    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-body);
    width: 90%;
    padding: 20px;
    z-index: 1000;
  }
  .menu:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: all 0.6s;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .menu ul li {
    margin: 10px 0;
  }
}

header .nav button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu ul li a {
  font-family: var(--font--principale);
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}
.menu ul li a:hover {
  transition: all 0.6s;
  color: var(--bg-nav);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav i {
  font-size: 24px;
  border: none;
}

.nav i:hover {
  color: var(--bg-nav);
}

li {
  margin-left: 1.4rem;
}

/* ==================contain============================ */


.contain {
  background-image: url(./images/hero4.png);
  width: 100%;
  /* margin-top: 0.01rem; */
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-principale {
  padding-left: var(--pl);
  padding-right: var(--pr);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.text-principale h1 {
  font-size: 3rem;
  font-family: var(--font--principale);
}
.text-principale span {
  color: #088178;
}

.text-principale p {
  font-family: var(--font--principale);
  font-size: 1.5rem;
}

/* ====================================================== */
.cool_button {
  padding: 0.6rem 2rem;
  background: transparent;
  margin: 1rem 0;
  position: relative;
  border: 1px solid black;
  font-family: var(--font--principale);
  font-size: 1.4rem;
  cursor: pointer;
}
.cool_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: all 0.9s ease-in-out;
  background: #08817986;
  z-index: 100;
}

.cool_button:hover::before {
  width: 100%;
}
 
/* ==================benefits============================ */

.benefits {
  display: flex;
  padding-left: var(--pl);
  padding-right: var(--pr);
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
  text-align: center;
}

.benefit {
  text-align: center;
  box-shadow: var(--bg-body) 2px 2px 2px;
  margin-top: 2rem;
  border: 1px solid #088178;
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.benefit button {
  cursor: pointer;
  background: var(--bg-nav);
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border: none;
  color: var(--bg-nav);
  background: var(--bg-body);
}

.item2 button {
  background: rgba(231, 85, 219, 0.616);
}
.item3 button {
  background: rgba(52, 221, 18, 0.644);
}
.item4 button {
  background: rgba(0, 217, 255, 0.349);
}
.item5 button {
  background: rgba(197, 13, 173, 0.411);
}
.item6 button {
  background: rgba(255, 123, 0, 0.452);
}

@media screen and (max-width: 600px) {
  .benefit {
    min-width: 45%;
  }
}
@media screen and (max-width: 320px) {
  .benefit {
    min-width: 99%;
  }
}
/* ==================text--products  product============================ */

.text--products {
  padding-left: var(--pl);
  padding-right: var(--pr);
  text-align: center;
  padding: 4rem 0;
}

.products--clothes .text--products h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: var(--font--principale);
}
.products--clothes .text--products p {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-family: var(--font--principale);
}

.products {
  padding-left: var(--pl);
  padding-right: var(--pr);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.item--pro {
  border: 1px solid #0881798a;
  min-width: 31%;
  width: 250px;
  padding: 0.4rem 0.4rem;
  margin-top: 2rem;
}

.item--pro img {
  width: 100%;
}
.item--pro h4 {
  padding: 0.5rem 0;
  font-size: 22px;
}

.item--pro .stars i {
  color: gold;
  font-size: 16px;

  overflow: hidden;
}

.item--pro p {
  font-size: 20px;
  font-family: var(--font--principale);
  letter-spacing: 2px;
}
.item--pro {
  color: var(--bg-nav);
  font-size: 15px;
  font-weight: 700;
}
.flex--shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex--shop i {
  font-size: 20px;
  cursor: pointer;
}
.flex--shop i:hover {
  font-size: 20px;
  cursor: pointer;
  color: gold;
  transition: all 0.5s;
}
@media screen and (max-width: 600px) {
  .item--pro {
    border: 1px solid #0881798a;
    min-width: 98%;
    width: 250px;
    padding: 1rem 0.2rem;
  }

  .item--pro img {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .item--pro {
    border: 1px solid #0881798a;
    min-width: 45%;
    width: 250px;
    padding: 1rem 0.4rem;
  }

  .item--pro img {
    width: 100%;
  }
}

/* =============== finish the products list  discount ============================ */

.discount {
  text-align: center;
  background-image: url(./images/pexels-karolina-grabowska-5632402.jpg);
  width: 100vw;
  margin-top: 3rem;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.discount_article {
  margin-right: 1rem;
  margin-left: 1rem;
}
.discount h2 {
  width: 80%;
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-right: 2rem;
}
.discount h2 span {
  color: #1bd6e4;
}
.discount button {
  margin-top: 1rem;
  background-color: transparent;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  border: 1px black solid;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.discount button:hover {
  background-color: var(--bg-nav);
}

/* ============finish discount   images-dis ===================================== */
.images-dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
}

.itemone {
  height: 50vh;
  width: 48%;

  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(./images/b1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemtwo {
  height: 50vh;
  width: 48%;
  display: flex;

  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url(./images/b18.jpg);
  justify-content: center;
  align-items: center;
  background-position: center;
}
@media screen and (max-width: 700px) {
  .itemone {
    width: 99%;
  }

  .itemtwo {
    width: 99%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .itemone {
    height: 30vh;
  }

  .itemtwo {
    height: 30vh;
  }
}

.images-dis h1 {
  color: var(--bg-body);
  padding: 0.5rem 0;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/* ==================contact ======================= */

.contact {
  margin-top: 2rem;
  background-color: var(--bg-nav);

  padding: 2rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.contactone {
  margin-top: 0.5rem;
}
.contactone p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #333;
  display: flex;
  align-items: center;
}

.contactone p .fix {
  font-family: sans-serif;
  font-weight: 400;
}
.contactwo {
  text-align: center;
}
.contactwo input,
textarea {
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--bg-nav);
  outline: none;
  transition: border-color 0.3s ease;
}

.contactwo button {
  margin-top: 1rem;
  background-color: transparent;
  color: #ffffff;
padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  border: 1px black solid;
  text-transform: capitalize;
  font-family: var(--font--principale);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contactwo button:hover {
  background: var(--bg-body);
  color: #333;
}

@media screen and (max-width: 870px) {
  .contact {
    margin-top: 2rem;
    background-color: var(--bg-nav);

    padding: 2rem 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }.contactone p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
    display: flex;
    align-items: center;
  }
  
}


  
